    </main>

    <footer>
        <p>Bits &amp; Bytes Pet Shop &mdash; Security Sandbox Suite</p>
        <p class="tracer-info">Powered by <%= typeof tracer !== 'undefined' ? tracer : 'dd-trace-js' %> <%= typeof version !== 'undefined' ? version : '5.x' %></p>
    </footer>
</body>
</html>
